meta(charset="utf-8")
title mopsy
meta(name="description", content="")
meta(name="viewport", content="width=device-width")
//- Place favicon.ico and apple-touch-icon.png in the root directory

link(rel="stylesheet", href="styles/main.css")
link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css", rel="stylesheet")

script(src="bower_components/modernizr/modernizr.js")
