doctype html
html
include ./template/head.jade
body
  include ./template/header.jade

  ul.col-xs-2.nav.nav-pills.nav-stacked(role='tablist')
    li.active
      a(href='#home', role='tab', data-toggle='pill') Home
    li
      a(href='#search', role='tab', data-toggle='pill') Search
    li
      a(href='#playlists', role='tab', data-toggle='pill') Playlists

  .tab-content.col-xs-10
    #home.tab-pane.active Home
    #search.tab-pane Search
    #playlists.tab-pane
      //- include ./template/playlists.jade

  include ./template/footer.jade
