doctype html
html
  head
    include ./template/head.jade
body
  .header
    include ./template/header.jade

  ul.col-xs-2.nav.nav-pills.nav-stacked(role='tablist')
    li.active
      a(href='#home', role='tab', data-toggle='pill') Home
    li
      a(href='#search', role='tab', data-toggle='pill') Search
    li
      a(href='#playlists', role='tab', data-toggle='pill') Playlists

  .main.tab-content.col-xs-10
    #home.tab-pane.active
      .page-header
        h1 Home
    #search.tab-pane
      .page-header
        h1 Search
    #playlists.tab-pane
      .page-header
        h1 Playlists
      #playlists-list

  .footer
    .container
      #nowplaying

  include ./template/scripts.jade
